{% extends "base.html" %}
{% block content %}

<div class="container"> 
<h2> Account </h2>
<div class="pull-right">
 	<a href="{{ url_for('deposit') }}" class="btn btn-default btn-lg"> Deposit Money </a>
 	<a href="{{ url_for('withdraw') }}" class="btn btn-default btn-lg"> Withdraw Money  </a>
 </div>

	</br>
	<div class="container horizontal-line"></div>  
	<br>
	</br>
<div class="col-md-4">
	<h4> Current Balance: </h4></br> 
	
	<h2 class="col-md-offset-3">	{{current_user.balance}} | BTC: {{current_user.BTC}}  </h2>
</div>		  

<div>
{% endblock %}