{% set site_name = 'CoinEast Bitcoin Exchange' %}
<!DOCTYPE html>
<html lang="en">
  <head>
	{% block head %}
	<title>{% block title %}{{ site_name }}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta name="author" content="">
	<meta charset="utf-8">

	<meta property="og:title" content=""/>
	<meta property="og:type" content="website"/>
	<meta property="og:url" content=""/>
	<meta property="og:image" content="" />
	<meta property="og:site_name" content='{{ site_name }}'/>
	<meta property="og:description" content=""/>

	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">

	<!-- SUPPORT FOR IE6-8 OF HTML5 ELEMENTS -->
	<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	{% endblock %}
  </head>

  <body>

		{% block navbar %}
	<!--navbar -->
	<nav class="navbar navbar-default navbar-static">
		<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">
				<span class="color">COIN EAST</span>
			</a>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="nav navbar-nav pull-left">
			{% block navbar_left %}
			{% endblock %}
			</ul>

			<center>
			   <strong >Bitcoin Price:   <u> USD {{btc_usd_price}} </u> | <u> PKR {{btc_pkr_price}} </u></strong> 
			</center>
		
			<ul class="nav navbar-nav pull-right">
			{% block navbar_right %}
			{% if current_user.is_authenticated() %}
			  <!--Hello {{ current_user.email }}-->
			 <strong>{{current_user.first_name}}</strong>,
			   <!-- Balance: {{current_user.balance}} | BTC: {{current_user.BTC}} -->
			  <!--a class="btn btn-clear"  href="{{ url_for('security.change_password') }}">change password<--a-->

			  <a class="btn btn-clear" href="{{ url_for('security.logout') }}">Sign Out</a>
			  
			   <a class="btn btn-clear" href="{{ url_for('buy') }}">Buy</a>
			
			{% else %}
			  <a class="btn btn-clear" href="{{ url_for('security.login') }}">Login</a>
			{% endif %}
			{% endblock %}
			</ul>
		</div>
		</div>
	</nav><!--/.navbar -->
	{% endblock %}


	<div class="container">

			{%- with messages = get_flashed_messages(with_categories=true) -%}
			  {% if messages %}
			    <ul class=flashes>
			    {% for category, message in messages %}
			      <li class="{{ category }}">{{ message }}</li>
			    {% endfor %}
			    </ul>
			  {% endif %}

			{%- endwith %}

	</div>
 {% block content %} {% endblock %}


		<hr>

	{% block footer %}
	<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation">
			<div class="container">
			<ul class="nav navbar-nav pull-left">
				<li>
					<a href="/help"> <span>Help </span>
					</a>
				</li>
				<li>
					<a href="/about"> <span>About </span>
					</a>
				</li>
				<li>
				<a href="mailto:email@address.com"> <span class="color">Contact </span>
				</a>
			</li>
			</ul>
		</br>
			<div class="footer-right">
				<span>&copy; 2013 {{ site_name }}</span>
			</div>
			</div>

		</nav>
	{% endblock %}
	
  </body>
</html>